@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100vh;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffc600;
}

.toDoList {
    padding: 15px;
    min-width: 350px;
    min-height: 100px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.4);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    .inputs {
        width: 100%;
        
        #taskInput {
            display: block;
            width: 95%;
            margin: 0 auto;
            padding: 5px;
        }

        .input-buttons {
            width: 95%;
            margin: 10px auto;
            display: flex;
            justify-content: space-between;
            button {
                appearance: none;
                border: none;
                padding: 10px;
                box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.4);
                cursor: pointer;

                &#removeFinishedTasksButton {
                    background: rgba(214, 69, 65, 0.8);
                }

                &#addTaskButton {
                    background: rgba(197, 239, 247, 1)
                }
            }
        }
    }

    #taskList {
        list-style: none;
        width: 100%;
        margin: 0 auto;
        li {
            padding: 5px;
            display: flex;

            h2 {
                flex-grow: 2;
                text-transform: capitalize;
                font-weight: 400;
            }

            button {
                flex-grow: 1;
            }
        }
    }
}


